body {
  background-color: #f4f4f4;
  font-family: cursive, sans-serif;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
}

button {
  background-color: white;
  border: none;
  border-radius: 16px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  font-family: cursive, sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding: 8px 16px;
}

input {
  border: none;
  border-radius: 8px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  font-family: cursive, sans-serif;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.title {
  font-size: 30px;
  font-weight: 300;
}

.container {
  background-color: white;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.2);
  height: 500px;
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.grid-size {
  display: flex;
  flex-direction: column;
  align-items: center;
}
